<!doctype html>
<html>
    <body>
        <p1>
            Hello {{agent}}, 
            <br>
            <br>
            On behalf of the UCLA Student Alumni Association, we proudly invite
            <b>{{celeb}}</b> to join our panel of celebrity judges for 
            <a href="https://www.youtube.com/watch?v=Im3NWz-0wmk&feature=youtu.be">Spring Sing 2022 on Friday, May 20th!</a>
            This is the first show back in person in 2 years and we believe that {{celeb_informal}}'s presence
            will make it all the more exciting.
            <br>
            <br>
            We hope {{pronoun}} will be able to join us for this year's event. Please do not hesitate
            to email or call me with any questions or concerns at your convenience. I've attached the 
            invitation to provide you with more details.
            <br>
            <br>
            Thank you for your time and I look forward to hearing from you by 
            <b>Friday, April 15th</b>
            <br>
            <br>
            Go Bruins!
            <br>
            <br>
            <br>
        </p1>
        <p1>
            Best,
            <br>
            <b>Nikki Aviv</b>
            <br>
            (303) 915-4284
        </p1>
    </body>
    <br>
    <br>
    <br>
    <body>
        <p1>
            -- 
            <br>
            Nikki Aviv and Charlotte Bradley
            <br>
            Celebrity Engagement & Awards Directors | UCLA Spring Sing 2023
            <br>
            <b>Phone:</b> Nikki: (917) 471-4188 | Charlotte: (617) 818-6369
            <br>
            <b>Email:</b>
                <a href="https://www.youtube.com/watch?v=Im3NWz-0wmk&feature=youtu.be">judges.springsing@gmail.com</a>
            <br>
            <div style="margin-top: 5px;">
            <a href = "https://www.facebook.com/uclaspringsing/" style="padding: 4px; text-decoration: none">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook logo" width="45" height="45">
            </a>
            <a href = "https://www.instagram.com/uclaspringsing/" style="padding: 4px; text-decoration: none">
                <img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" alt="Instagram logo" width="45" height="45">
            </a>
            <a href = "https://www.youtube.com/channel/UCqMQrUYislC6zKOke9kh3pg" style="padding: 4px; text-decoration: none">
                <img src="https://www.youtube.com/yts/img/favicon_144-vfliLAfaB.png" alt="Youtube logo" width="45" height="45">
            </a>
        </div>
        <br>
        <p>
            If you would like additional information about Spring Sing, please visit:
            <br>
            <a href="https://alumni.ucla.edu/traditions/spring-sing/">https://alumni.ucla.edu/traditions/spring-sing/</a>
        </p>
    </p1>
    </body>
</html>