<!doctype html>
<html>
    <p1>
        Dear {{agent}},
        <br>
        <br>
        <br>
        On behalf of the UCLA Student Alumni Association, it is our distinct honor to invite
         {{celeb}} to join our panel of celebrity judges and award presenters for Spring Sing 2023!
        <br>
        <br>
        Spring Sing is the oldest and greatest musical tradition, reaching back to entertainment's
         variety show roots. This annual event showcases our highest caliber of talented sudents 
         through original performances of solo songs, duets, dance routines, and comedic sketches. 
         With an audience of of over 10,000, we take great pride in selecting outstanding judges as
         examples of artistic achievement, creativity, and talent to continue to further the show's legacy.
         <br>
         <br>
         Spring Sing is where stars are made and stars return to celebrate the newest generation of 
         artists. Notable past Spring Sing participants included Adam Levine, Sara Bareilles, and Nasim Pedrad;
         former judges include Dennis Quaid, Kathy Bates, and Paula Abdul.
         <br>
         <br>
         Spring Sing will take place on 
         <b>Friday, May 19th, 2023</b>
          at UCLA. We ask that you arrive at 6:00pm for a reception and attend the show/evaluate each act from 7:30pm to 9:30pm. At the end of the night, judges will present an
         award to the respective recipients.
         <br>
         <br>
         We hope {{celeb_informal}} will join this year's team of judges and become a part of a tradition that continues to make
         Spring Sing the most anticipated UCLA event of the year. Thank you for your consideration and we would appreciate hearing
         back from you by March 25th, 2023. Please do not hestate to email or call us at your convenienve with
         any questions or concerns. 
         <br>
         <br>
         Thank you for your time and we look forward to hearing from you soon!
         <br>
         <br>
         <br>
            <br>
            Nikki Aviv and Charlotte Bradley
            <br>
            Celebrity Engagement & Awards Directors | UCLA Spring Sing 2023
            <br>
            <b>Phone:</b> Nikki: (917) 471-4188 | Charlotte: (617) 818-6369
            <br>
            <b>Email:</b>
                <a href="https://www.youtube.com/watch?v=Im3NWz-0wmk&feature=youtu.be">judges.springsing@gmail.com</a>
            <br>
            <p>
                Thank you for your time and we look forward to hearing from you soon! 
                If you would like additional information about Spring Sing, please visit:
                <br>
                <a href="https://alumni.ucla.edu/traditions/spring-sing/">https://alumni.ucla.edu/traditions/spring-sing/</a>
            </p>
            <div style="margin-top: 5px;">
                <a href = "https://www.facebook.com/uclaspringsing/" style="padding: 4px; text-decoration: none">
                    <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook logo" width="45" height="45">
                </a>
                <a href = "https://www.instagram.com/uclaspringsing/" style="padding: 4px; text-decoration: none">
                    <img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" alt="Instagram logo" width="45" height="45">
                </a>
                <a href = "https://www.youtube.com/watch?v=qH_s_-YdoaM" style="padding: 4px; text-decoration: none">
                    <img src="https://www.youtube.com/yts/img/favicon_144-vfliLAfaB.png" alt="Youtube logo" width="45" height="45">
                </a>
            </div>
    </p1>
</html>